[Unit]
Description=A SSH honeypot
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/wherexxx/ssh-honeypot -u nobody -s
KillMode=process
Restart=on-abnormal
RestartSec=60s

[Install]
WantedBy=multi-user.target
